appdirs==1.4.4
argcomplete==3.6.3
asgiref==3.11.1
colorama==0.4.6
Django==5.2.14
djangorestframework==3.17.1
importlib_resources==7.1.0
pillow==12.2.0
python-barcode==0.16.1
python-escpos==3.1
pywin32==311
PyYAML==6.0.3
qrcode==8.2
six==1.17.0
sqlparse==0.5.5
tzdata==2026.2
waitress==3.0.2
whitenoise==6.12.0
